@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    button{
        border-radius: 25px;
        background-color: rgb(14, 2, 172);
font-size: x-large;
    }
    a{
        color: rgb(160, 14, 14);
        text-decoration: none;
    }
</style> 
